# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Chrome Extension
*.pem
*.crx
*.zip

# Logs
*.log
npm-debug.log*

# Optional: local development
.env
.env.local
